@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@keyframes neon-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 10% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes neon-light {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 10% 10%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes neon-ball {
    0% {
        background-position: 10% 10%; /* Esquina superior izquierda */
    }
    25% {
        background-position: 90% 10%; /* Esquina superior derecha */
    }
    50% {
        background-position: 90% 90%; /* Esquina inferior derecha */
    }
    75% {
        background-position: 10% 90%; /* Esquina inferior izquierda */
    }
    100% {
        background-position: 10% 10%; /* Vuelve al inicio */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffffff, #000000); /* Degradado sutil */
    color: #f5f5f5;
    height: 100vh; /* Asegurar que el fondo ocupe toda la pantalla */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Deshabilitar el desplazamiento */
}

header {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

/* Página de inicio */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.content-box {
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid rgba(255, 255, 255, 0.308);
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    color: #e1dcff;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.content-box h2 {
    font-size: 1.5rem;
    margin: 0;
}

.content-box:hover h2 {
    color: #474747; /* Cambia el color del texto al pasar el mouse */
}

/* Otras páginas */
.fullscreen-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #1f1f1f59; /* Fondo claro para mejor legibilidad */
    color: #000000; /* Texto oscuro */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: justify; /* Justifica el texto */
    line-height: 1.8; /* Espaciado entre líneas */
    margin: 2rem auto; /* Centra el contenedor */
    max-width: 800px; /* Limita el ancho máximo */
}

h2 {
    margin-bottom: 1rem; /* Separación entre el título y el texto */
    font-size: 2rem;
    color: #000000; /* Color llamativo para los títulos */
}

p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

/* Certificados */
.certifications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el número de columnas automáticamente */
    gap: 10px; /* Espaciado entre los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 1rem; /* Espaciado alrededor de la cuadrícula */
}

.certification-box {
    background: #333;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px; /* Altura fija */
    width: 150px; /* Ancho fijo */
    color: #ffffff; /* Texto en blanco */
}

.certification-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
}

.certification-box p {
    color: #ffffff; /* Asegura que el texto del párrafo sea blanco */
    font-size: 0.9rem; /* Ajusta el tamaño del texto si es necesario */
    margin: 0;
}

.certification-box a {
    text-decoration: none; /* Elimina la línea azul debajo del enlace */
    color: inherit; /* Mantiene el color del texto definido en el contenedor */
}

.certification-box a:hover {
    text-decoration: none; /* Asegura que no aparezca la línea al pasar el mouse */
}

.certification-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.moving-ball {
    position: absolute;
    width: 50px; /* Tamaño de la bola */
    height: 50px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%; /* Hacerla circular */
    pointer-events: none; /* Evitar interacción con la bola */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Efecto de neón */
}

.neon-light {
    position: absolute;
    width: 300px; /* Ancho inicial de la mancha */
    height: 400px; /* Altura inicial de la mancha */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%; /* Forma inicial circular */
    pointer-events: none; /* Evitar interacción con las manchas */
    z-index: -1; /* Asegurar que estén detrás del contenido */
    transition: all 3s ease; /* Transición más suave para los cambios de forma */
    filter: blur(30px); /* Difuminar los bordes */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.social-links {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.social-links a img {
    width: 45px;
    height: 45px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.social-links a img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.floating-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columnas por fila */
    gap: 50px 50px; /* Espaciado entre los cuadros */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 2rem; /* Espaciado alrededor del contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    max-width: 100px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
}

.image-card {
    perspective: 1000px; /* Necesario para el efecto 3D */
    width: 200px;
    height: 200px;
    margin: 0 auto; /* Centra cada cuadro */
}

.image-card-inner {
    position:relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.image-card:hover .image-card-inner {
    transform: rotateY(180deg); /* Gira la tarjeta */
}

.image-card-front,
.image-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta el lado trasero cuando no está girado */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.image-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-card-back {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg); /* Lado trasero */
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
}

.image-card-back h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.image-card-back p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

.sobre-mi-image {
    position: absolute;
    top: 70%; /* Centra verticalmente respecto al contenedor */
    right: 4%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 200px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.floating-image{
    position: absolute;
    top: 80%; /* Centra verticalmente respecto al contenedor */
    right: 53%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 250px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}

.floating-image2{
    position: absolute;
    top: 80%; /* Centra verticalmente respecto al contenedor */
    right: 30%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 250px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}

/*whoami*/
.floating-image3{
    position: absolute;
    top: 32%; /* Centra verticalmente respecto al contenedor */
    right: 2.8%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 200px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}

.floating-image4{
    position: absolute;
    top: 32%; /* Centra verticalmente respecto al contenedor */
    right: 81.3%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 250px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}

.floating-image5{
    position: absolute;
    top: 60%; /* Centra verticalmente respecto al contenedor */
    right: 2.8%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 200px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}

.floating-image6{
    position: absolute;
    top: 58%; /* Centra verticalmente respecto al contenedor */
    right: 81.3%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 250px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}

.floating-image7{
    position: absolute;
    top: 87%; /* Centra verticalmente respecto al contenedor */
    right: 35%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 400px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}

.floating-image8{
    position: absolute;
    top: 63%; /* Centra verticalmente respecto al contenedor */
    right: 81.3%; /* Posiciona la imagen a la derecha */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    width: 220px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño más agradable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */ 
}